In [18]:
# Import Libraries
# Main Libraries
import pandas as pd
import numpy as np

# Viz Libraries
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

## Questions To Answer:
- Q1. Do smokers have higher insurance charges than non-smokers?
- Q2. Are men more likely to smoke than women?
- Q3. Do different regions have different charges, on average?

---
For each question, make sure to:

State your Null Hypothesis and Alternative Hypothesis
Select the correct test according to the data type and number of samples
Test the assumptions of your selected test.
Execute the selected test, or the alternative test (if you do not meet the assumptions)
Interpret your p-value and reject or fail to reject your null hypothesis 
Show a supporting visualization that helps display the result

In [17]:
# Load df insurance data
df = pd.read_csv('Data/insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Q1. Do smokers have higher insurance chargers than non-smokers?

1. - Null Hypothesis: There is **no difference** between insurance costs for smokers and non-smokers. 

   - Alt. Hypothesis: There **is a difference** between insurance costs between smokers and non-smokers.

In [21]:
# Create two different tables, one for confirmed smokers & charges, 
# & one for non-smokers with charges

In [19]:
# Only target columns smoker and charges for this question
is_smoker = df.loc[df['smoker']=='yes', ['smoker', 'charges']]
is_smoker.head()

   smoker     charges
0     yes  16884.9240
11    yes  27808.7251
14    yes  39611.7577
19    yes  36837.4670
23    yes  37701.8768

In [27]:
non_smoker = df.loc[df['smoker']=='no', ['smoker', 'charges']]
non_smoker.head()

  smoker      charges
1     no   1725.55230
2     no   4449.46200
3     no  21984.47061
4     no   3866.85520
5     no   3756.62160